@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  transition: all .7s ease;
}

html,
body,
main {
  min-height: 100vh;
  width: 100%;
}
body,
.navbar ul li a,
button,
i,
main * {
  transition: all 0.3s ease;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
.header {
  line-height: 7vh;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}
.title {
  margin: 0 10px;
  font-size: large;
  font-weight: 480;
}
li {
  list-style-type: none;
}
ul {
  display: flex;
  gap: 7vw;
}
#whole {
  color: rgb(0, 0, 0);
}
#rest {
  color: rgb(212, 0, 255);
}
.listleft {
  display: flex;
  gap: 7vw;
}
.color_tongle {
  margin: 0 4vw 0 0;
}
.color_tongle button {
  border: 2px solid rgb(0, 0, 0);
  background: transparent;
  padding: 2px;
  color: rgb(0, 0, 0);
  border-radius: 7px;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

/* MAIn Section  */

#main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.words span {
  color: rgb(35, 227, 144);
}

.text {
  margin: 0 10vw 0 10vw;
}
.image_Sector {
  margin: 0 10vw 0 10vw;
}
.para {
  margin: 7px 0;
  font-size: large;
}
.butt {
  margin: 19px 0;
  display: flex;
  gap: 20px;
}

.butt #butt_about button {
  padding: 10px 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(45deg, #ffffff00, #00000070);
}
.butt #butt_contact button {
  padding: 10px 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(45deg, #ffffff00, #00000070);
}

/* hover effect in all  */
#About {
  height: 100vh;
  width: 100%;
}
.navbar ul li a:hover {
  color: rgb(165, 29, 206);
  scale: 1.2;
}

.heading_about h1 {
  text-align: center;
  font-size: xxx-large;
}
.container-text-image {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Skill section  */

.heading_Skill h1 {
  text-align: center;
  font-size: xxx-large;
}

.Know {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  width: 40%;
  max-width: 60vh;
  text-align: center;
  padding: 20px;
  max-height: 150vh;
  border-radius: 21px;
  background-color: #d4c5c514;
  object-fit: cover;
}

#Skill {
  height: 100vh;
  width: 100%;
}
.container-skill-1 {
  height: 100%;
  width: 100%;
  margin-top: 25vh;
  display: flex;
  justify-content: space-evenly;
}

.container-skill-1 button {
  padding: 1px 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
#html-butt{
    background-color: red;
}
#css-butt{
    background-color: blue;
}
#js-butt{
    background-color: yellow;
}
.bars{
  display: none;
  margin: 5px 0 0 0;
}

#aside-nav{
  background-color: #ffffff7b;
  display: none;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
}
#aside-nav ul{
 display: flex;
 flex-direction: column;
}
#aside-nav li{
  background-color: #e1f2f6;
  padding: 10px 0;
  text-align: center;
}
#aside-nav a{
  text-decoration: none;
  color: #000000;
}
.cross{
  text-align: end;
  margin: 10px 4px;
}

/* ------------------ Responsive Design ------------------ */

@media (max-width: 1024px) {

  #main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0 0 90px 0;
  }
  .container-text-image{
    flex-direction: column;
    height: 100%;
  }
  .image_Sec_About{
    display: none;
  }
  #About{
    min-height: 50vh;
  }
  #Skill{
    height: 100%;
    padding: 0 0 40px 0;
  }
}

@media(max-width:1105px)
{
  .container-skill-1{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
   
  }
  .Know{
    margin: 30px 20px;
    width: 100%;
   
  }
  nav{
     display: none;
  }
  .bars{
    display: block;
  }
  .listleft{
    gap: 20px;
  }
}